{% extends 'base.html' %}

{% block content %}
<section id="search_report" class="search_report">
    <h2>Generate Report</h2>
    <form method="GET" action="{% url 'generate_report' %}">
        {{ report_form.as_p }}
        <button type="submit" class="btn">Generate Report</button>
    </form>

    <div>
        <h3>Statistics</h3>
        <p>Total Pets Available: {{ total_pets }}</p>
        <p>Pets Approved for Adoption: {{ approved_pets }}</p>
        <p>Pets Adopted: {{ adopted_pets }}</p>
    </div>

    {% if report_data %}
    <h3>Report Results</h3>
    <p>Total Adoptions: {{ report_data.total_adoptions }}</p>
    <table>
        <thead>
            <tr>
                <th>Pet Name</th>
                <th>Breed</th>
                <th>Adopted By</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for adoption in report_data.adoptions %}
            <tr>
                <td>{{ adoption.pet.name }}</td>
                <td>{{ adoption.pet.breed.name }}</td>
                <td>{{ adoption.customer.username }}</td>
                <td>{{ adoption.adopted_date }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    {% endif %}


    {% if report_data.total_adoptions > 0 %}
    <h2>Adoption Chart</h2>
    <img src="{{ chart_data }}" alt="Pie chart">
    {% endif %}


</section>

<br><br><br><br><br><br><br><br>
{% endblock %}