{% extends 'base.html'%}

{% block content%}
      <!-- Hero Banner -->
    <header class="hero" >
        <h1>Welcome to Pet Adoption</h1>
        <p>Find your new best friend today!</p>
        <a href="{% url "search_pets" %}" class="btn">View Pets</a>
    </header>

    <!-- Welcome Text --> 
    <section id='welcome1' class='welcome1'> 
        <h2>Welcome to Tailwaggers Adoption Center</h2>
        <p>We are delighted to have you here. Explore our available pets and find your new furry friend.</p> 
    </section>

    

    <!-- Available Pets Section -->
    <section id="pets" class="pets">
        <h2>Available Pets</h2>
        {%for pet in pets %}
            {%if not pet.is_adopted%}
            
        <div class="pet-card">
            <img src="{{ pet.image.url }}" alt="Pet 1" >
            <h3>name :{{ pet.name}}</h3>
            <p>Breed :{{pet.breed}}</p>
            <p>Age :{{pet.age}}</p>
            <a href="{%url 'petP' pet.id %}" class="btn">Adopt</a>
        </div>
        {% endif%}
        {% endfor %}
    </section>

{% endblock %}

