{% extends 'base.html'%}

{% block content%} 
<div class="staffhome-container"> 
    <h1>Staff Menu</h1> 
    <ul class="staffhome-list"> 
    
        <li class="staffhome-item"> 
        <a href="{% url 'add_pet' %}"> Add Pet </a> 
        </li>
        <li class="staffhome-item"> 
            <a href="{% url 'manage_pets' %}"> Manage Pet </a> 
        </li>
        <li class="staffhome-item"> 
            <a href="{% url 'add_breed' %}"> Add Breed </a> 
        </li>
        <li class="staffhome-item"> 
            <a href="{% url 'manage_breeds' %}">Manage Breed </a> 
        </li>
        <li class="staffhome-item"> 
            <a href="{% url 'manage_adoptions' %}"> Manage Adoptions</a> 
        </li>
        <li class="staffhome-item"> 
            <a href="{% url 'generate_report' %}"> Generate Report </a> 
        </li>
          
    
</ul>
</div>
{% endblock%}